Repository digitallinguistics/data-format, pull requests merged in 2019-04, with the labels that each got.

#291 Update contributor / maintainer documentation
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bugs.md
  .github/ISSUE_TEMPLATE/changes.md
  .github/MAINTAINERS.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  package.json
Labels: dev, docs

#292 add GitHub links to documentation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/README.md
  README.md
  docs/index.html
Labels: docs

#293 fix paragraph spacing for MultiLangString description
  docs/schemas/MultiLangString.html
  schemas/json/MultiLangString.json
  schemas/yaml/MultiLangString.yml
Labels: bug, docs

#294 add prepare script
  package.json
Labels: dev

#295 always use a clean build of /docs folder when building the project
  .github/PULL_REQUEST_TEMPLATE.md
  build/docs.js
  package-lock.json
  package.json
Labels: dev

#289 Utterance 5.0.0 - Remove translationType, add literalTranslation and phonetic, version bump
  schemas/json/Translation.json
  schemas/json/Utterance.json
  schemas/yaml/Translation.yml
  schemas/yaml/Utterance.yml
Labels: schemas

#304 Add pragmatic notetype
  docs/index.html
  docs/schemas/Lexeme.html
  schemas/json/Lexeme.json
  schemas/yaml/Lexeme.yml
Labels: schemas

#305 Update Morpheme descriptions
  docs/schemas/Morpheme.html
  schemas/json/Morpheme.json
  schemas/yaml/Morpheme.yml
Labels: schemas

#308 Add morphemeType to Lexeme
  .github/PULL_REQUEST_TEMPLATE.md
  docs/schemas/Lexeme.html
  schemas/json/Lexeme.json
  schemas/yaml/Lexeme.yml
Labels: schemas
